$play-btn-background: #3CC47C;

@font-face {
    font-family: 'open-sans-bold';
    src: url('../../assets/fonts/opensansbold.woff') format('woff2');
}

.game-container {
  padding: 10px;
}

.game-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.play-btn {
  width: 140px;
  height: 40px;
  background: $play-btn-background;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-family: 'open-sans-bold';
}
