$background-result: rgba(255, 255, 255, .9);
$play-again-btn-bg: #3CC47C;

@font-face {
  font-family: 'open-sans-bold';
  src: url('../../assets/fonts/opensansbold.woff') format('woff2');
}

.result-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: $background-result;
  top: 0;
  left: 0;
  font-size: 2rem;
}

.result-table-information {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-img {
  width: 60%;
  margin-bottom: 25px;
}

.play-again-btn {
  background-color: $play-again-btn-bg;
  border: 0;
  color: #fff;
  font-family: 'open-sans-bold';
  height: 40px;
  padding: 0 14px;
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
